.ant-layout {
  background-color: #edf1f7 !important;
}

.site-layout {
  .layout-content {
    padding: 24px;
    height: calc(100vh - 64px);
    overflow-y: scroll;

    .content-breadcrumb {
      padding: 10px 0px;
      margin: 20px 0px 10px 0px;
    }

    .ant-layout-footer {
      padding-top: 20px;
    }
  }

  .site-layout-background {
    background: #fff;
  }

  .ant-layout-header {
    padding: 0px 24px;
    box-shadow: 0px 0.2px 3px #edf1f7;
    display: flex;
    align-items: center;

    .header.left {
      flex: 1;
    }
  }
}
